<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <h1 class="title">zachary boice</h1>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="index.html">home</a></li>
            <li><a href="blog.html">blog</a></li>
            <li><a href="simulations.html">simulations</a></li>
            <li><a href="activities.html">cv</a></li>
            <li id="about"><a href="bio.html">about</a></li>
        </ul>
    </nav>    
</body>